<ul class="nav nav-pills flex-column mb-auto">
    <!-- Dashboard Link -->
    <li class="nav-item">
        <a href="{% url 'admin_dashboard' %}" 
           class="nav-link text-white {% if request.resolver_match.url_name == 'admin_dashboard' %}active{% endif %}">
            <i class="fas fa-tachometer-alt me-2"></i>
            Dashboard
        </a>
    </li>
    
    <!-- Manage Users Link -->
    <li class="nav-item">
        <a href="{% url 'manage_users' %}" 
           class="nav-link text-white {% if request.resolver_match.url_name == 'manage_users' %}active{% endif %}">
            <i class="fas fa-users-cog me-2"></i>
            Manage Users
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'admin_reimbursements' %}" 
           class="nav-link text-white {% if request.resolver_match.url_name == 'manage_users' %}active{% endif %}">
            <i class="fas fa-users-cog me-2"></i>
           reimbursements
        </a>
    </li>
</ul>
