{% extends 'base.html' %}
{% load static %}

{% block title %}Prescribe an Analysis{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h4><i class="fas fa-flask"></i> Prescribe a Medical Analysis</h4>
                    <p class="mb-0">Patient: <strong>{{ patient.user.get_full_name }}</strong></p>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.analysis_type.id_for_label }}">Analysis Type *</label>
                                    {{ form.analysis_type }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.consultation.id_for_label }}">Associated Consultation</label>
                                    {{ form.consultation }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="{{ form.title.id_for_label }}">Analysis Title *</label>
                            {{ form.title }}
                        </div>
                        
                        <div class="form-group">
                            <label for="{{ form.description.id_for_label }}">Description</label>
                            {{ form.description }}
                        </div>
                        
                        <div class="form-group">
                            <label for="{{ form.indication.id_for_label }}">Medical Indication *</label>
                            {{ form.indication }}
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.expected_date.id_for_label }}">Expected Date</label>
                                    {{ form.expected_date }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.laboratory.id_for_label }}">Laboratory</label>
                                    {{ form.laboratory }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save"></i> Prescribe Analysis
                            </button>
                            <a href="{% url 'patient_records' patient.id %}" class="btn btn-secondary">
                                <i class="fas fa-arrow-left"></i> Back
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}