{% extends 'base.html' %}

{% block title %}Page Non Trouvée{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <div class="error-template">
        <h1>Oops!</h1>
        <h2>404 Page Non Trouvée</h2>
        <div class="error-details">
            Désolé, une erreur s'est produite, la page demandée est introuvable!
        </div>
        <div class="error-actions mt-4">
            <a href="{% url 'patient_dashboard' %}" class="btn btn-primary btn-lg">
                <i class="fas fa-home"></i> Retour à l'accueil
            </a>
        </div>
    </div>
</div>
{% endblock %}