<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us | Hospital Management</title>

    <link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
   </head>
<body>
    {% include "navbar.html" %}
    
    <section class="hero">
        <div class="container">
            <h1>About Our Hospital</h1>
            <p>We're dedicated to providing exceptional healthcare services and creating a healing environment for our patients.</p>
        </div>
    </section>
    
    <section class="about-section">
        <div class="container">
            <div class="about-content">
                <div class="about-text">
                    <h3 style="text-align: center;">Welcome to our website</h3>
                   </div>
            </div>
            
            <div class="about-content">
                <div class="about-image">
                    <img src="https://images.unsplash.com/photo-1588776814546-1ffcf47267a5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="Our medical team">
                </div>
                <div class="about-text">
                    <h3>Our Mission</h3>
                    <p>Our mission is to simplify healthcare administration and enhance patient outcomes through a reliable, user-friendly, and comprehensive Hospital Management System. We combine modern technology with compassionate care to support healthcare professionals in delivering high-quality, patient-centered services.</p>
                </div>
                
            </div>
        </div>
    </section>
    

    {% include "footer.html" %}   
</body>
</html>